<html lang="en" class="no-js">
<head></head>
<body ng-app="pubwebApp">
<div id="content" class="container container__main" role="main">
            <div class="row">
                <div class="page-header">
                    <div class="header-group">
                        <div id="page-title" class="page-title">
                            <h2>
                                Financial Innovation
                            </h2>
                        </div>
                        <!-- Share / Download Button -->
                        <div class="shareDL hidden">
                            <a href="#" class="btn shareDL__button dropdown-toggle" data-toggle="dropdown">
                                <span class="icon icon__sm icon--centered icon-share-header"></span>
                                <span class="shareDL__iconTitle">Share</span>
                            </a>
                            <ul class="dropdown-menu shareDL__dropdown--header" role="menu">
            <li class="shareDL__item">
                <a class="shareDL__link icon__link sr-only-focusable" href="https://twitter.com/share?url=https://www.federalreserve.gov/aboutthefed/financial-innovation.htm&amp;text=Financial Innovation&amp;via=FederalReserve">
                        <span class="icon icon__sm icon--centered icon-twitter-color"></span>
                </a>
            </li>
            <li class="shareDL__item">
                <a class="shareDL__link icon__link sr-only-focusable" href="https://www.facebook.com/sharer.php?u=https://www.federalreserve.gov/aboutthefed/financial-innovation.htm&amp;name=Financial Innovation">
                        <span class="icon icon__sm icon--centered icon-facebook-color"></span>
                </a>
            </li>
            <li class="shareDL__item">
                <a class="shareDL__link icon__link sr-only-focusable" href="https://www.linkedin.com/shareArticle?url=https://www.federalreserve.gov/aboutthefed/financial-innovation.htm&amp;title=Financial Innovation&amp;mini=true">
                        <span class="icon icon__sm icon--centered icon-linkedin-color"></span>
                </a>
            </li>
            <li class="shareDL__item">
                <a class="shareDL__link icon__link sr-only-focusable" href="/cdn-cgi/l/email-protection#2d124f424954104559595d5e1702025a5a5a034b4849485f4c415f485e485f5b48034a425b024c4f4258595945484b4849024b44434c434e444c4100444343425b4c59444243034559400b5e584f47484e59106b44434c434e444c410d644343425b4c59444243">
                        <span class="icon icon__sm icon--centered icon-email-color"></span>
                </a>
            </li>
                            </ul>
                        </div>
                        <!--/ End Share / Download Button -->                         
                    </div> 
                </div>
                <noscript>
<div class="js-disabled text-center">
    <span class='icon icon-alert icon--jsAlert'></span>
    <span><strong>Please enable JavaScript if it is disabled in your browser or access the information through the links provided below.</strong> </span>
</div>
</noscript>
            </div>
<div class="row ">
    <div class="col-xs-12">
<p>The Federal Reserve Board is committed to supporting responsible innovation, both by the firms we regulate directly, and in the financial market broadly. This website serves as a resource for stakeholders interested in engaging with the System on innovation-related matters.</p>
</div>
</div>
<div class="row">
</div>
    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="/js/angular-touch.min.js" type="text/javascript"></script>
        <script src="/js/filmstrip.js" type="text/javascript"></script>
<div id="carousel-example-generic" class="filmstrip" ng-controller="filmstripController" ng-swipe-right="previous($event)" ng-swipe-left="next($event)">
    <div class="filmstrip__inner" data-filmstrip-items="">
        <div class="active filmstrip__item" ng-style="leftMargin">
            <div class="filmstrip__img">
                <img src="/aboutthefed/images/filmstrip-fintech-chart-cellphone.jpg" class="img-responsive" alt="Image of cell phone with chart">
            </div>
            <div class="filmstrip__text">
                <p class="article__time"></p>
                <h6>Responsible Innovation</h6>
<p>If you are interested in learning more about the Board's work on financial innovation and technology, please visit the Board websites below.</p>
	<a href="https://www.federalreserve.gov/supervisionreg/novel-activities-supervision-program.htm">Novel Activities Supervision Program</a>
	<a href="https://www.federalreserve.gov/paymentsystems/fednow_about.htm">FedNow Service</a>
            </div>
        </div><!-- 
     --><div class="filmstrip__item">
            <div class="filmstrip__img">
                <img src="/aboutthefed/images/filmstrip-report-data.jpg" class="img-responsive" alt="Image of chart">
            </div>
            <div class="filmstrip__text">
                <p class="article__time"></p>
                <h6>Board Research</h6>
<p>The Federal Reserve is committed to understanding the market and gaining insights on innovative financial technologies and their impacts on firms and the financial system through research.</p>
	<a href="https://www.federalreserve.gov/econres.htm">Economic Research</a>
	<a href="https://www.federalreserve.gov/paymentsystems/fr-payments-study.htm">Federal Reserve Payment Study (FRPS)</a>
	<a href="https://www.federalreserve.gov/consumerscommunities/community-development-publications.htm">Consumers &amp; Communities Research</a>
            </div>
        </div><!-- 
     --><div class="filmstrip__item">
         <div class="filmstrip__img">
                <img src="/aboutthefed/images/filmstrip-fintech-numbers.jpg" class="img-responsive" alt="Image of chart">
            </div>
            <div class="filmstrip__text">
                <p class="article__time"></p>
                <h6>Additional Resources</h6>
<p>If you are interested in learning more about the Board's wider work, please visit the Board websites below.</p>
	<a href="https://www.federalreserve.gov/newsevents/speeches.htm">Speeches of Federal Reserve Officials</a>
	<a href="https://www.federalreserve.gov/supervisionreg/cybersecurity-and-operational-resilience.htm">Cybersecurity and Operational Resilience</a>
	<a href="https://www.consumercomplianceoutlook.org/">Consumer Compliance Outlook</a>
            </div>
        </div>
  </div>
    <a class="left icon icon-next icon--rotate" href="#" title="Previous" role="button" ng-click="previous($event)" ng-show="hasPrevious"><span class="sr-only">Previous</span></a>
    <a class="right icon icon-next" href="#" title="Next" role="button" ng-click="next($event)" ng-show="hasNext"><span class="sr-only">Next</span></a>
</div>
            <div class="row">
                <div class="lastUpdate" id="lastUpdate">
                    Last Update:
                    December 23, 2024
                </div>
            </div>
            <a id="back-top" class="icon__backTop icon-backtop" href="#" title="Scroll To Top"><span class="sr-only">Back to Top</span></a>
        </div>
</body>
</html>