<div id="readability-page-1" class="page"><div id="content" role="main">
            
<div>
    <p>The Federal Reserve Board is committed to supporting responsible innovation, both by the firms we regulate directly, and in the financial market broadly. This website serves as a resource for stakeholders interested in engaging with the System on innovation-related matters.</p>
</div>
<div id="carousel-example-generic" ng-controller="filmstripController" ng-swipe-right="previous($event)" ng-swipe-left="next($event)">
    <div data-filmstrip-items="">
        <div ng-style="leftMargin">
                <p><img src="/aboutthefed/images/filmstrip-fintech-chart-cellphone.jpg" alt="Image of cell phone with chart"></p><div>
                <h6>Responsible Innovation</h6>
<p>If you are interested in learning more about the Board's work on financial innovation and technology, please visit the Board websites below.</p>
            </div>
        </div><!-- 
     --><div>
                <p><img src="/aboutthefed/images/filmstrip-report-data.jpg" alt="Image of chart"></p><div>
                <h6>Board Research</h6>
<p>The Federal Reserve is committed to understanding the market and gaining insights on innovative financial technologies and their impacts on firms and the financial system through research.</p>
            </div>
        </div><!-- 
     --><div>
                <p><img src="/aboutthefed/images/filmstrip-fintech-numbers.jpg" alt="Image of chart"></p><div>
                <h6>Additional Resources</h6>
<p>If you are interested in learning more about the Board's wider work, please visit the Board websites below.</p>
            </div>
        </div>
  </div>
    <p><a href="#" title="Previous" role="button" ng-click="previous($event)" ng-show="hasPrevious"><span>Previous</span></a>
    <a href="#" title="Next" role="button" ng-click="next($event)" ng-show="hasNext"><span>Next</span></a>
</p></div>
            <div>
                <p>
                    Last Update:
                    December 23, 2024
                </p>
            </div>
            <p><a id="back-top" href="#" title="Scroll To Top"><span>Back to Top</span></a>
        </p></div></div>